/* website header */
#header h1 {
	font-size: $base-font-size;
}

#nav-bar li {
	display: inline-block;
	font-weight: 500;
}

#nav-bar a {
	color: white;
	text-decoration: none;
}

#nav-bar a:hover {
	color: #d4d4d4
}

#header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	top: 0;
	padding: 0 20px;
	width: -webkit-fill-available;
	position: fixed;

	background-color: #383C3F;
	color: white;
}

/* terminal formatting */
#content {
	padding-top: 2em;
	margin: $spacing-unit;
}

.item-group > p {
	margin-bottom: $text-spacing-unit;
	margin-top: 0;
}

.item-group {
	margin-top: $spacing-unit;
}

.prompt {
	margin-right: 0;
	display: inline;
	color: $text-color;
}

#terminal {
	border: none;
	border-bottom: 2px solid $text-color;
	background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
	font-size: 1em;
	width: 95%;
}

/* general */
.indented {
	margin-left: $spacing-unit;
}

table {
	width: fit-content;
	border-collapse: separate;
	border-spacing: 1em 0;
}

table tr td:nth-child(odd) {
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

table tr td:nth-child(even) {
	text-align: left;
}

.smaller-text {
	font-size: 0.8em;
}

#img-equisat {
	max-width: 25em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}