#my-name {
	font-family: Rubik Mono One;
	position: fixed;
}

body {
	background: url("https://s3.amazonaws.com/jleiken-site/granoff.jpg");
	background-size: 200%;
}

a {
	color: darkorange;
}

a:hover {
	color: orangered;
}

.important-links {
	font-size: 1.5em;
	font-weight: bold;
}

#body-404 {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title-404 {
	background-color: rgba(1, 1, 1, 0.5);
	color: darkorange;
	font-family: Rubik Mono One;
	margin-left: 2em;
    margin-right: 2em;
}